.spanDefaultHeader {
    color: red;
}
.spanDefaultNavBar {
    color: red;
}
.spanDefaultContent {
    color: red;
}
.spanDefaultFooter {
    color: red;
}

.spanIndex {
    color: green;
}
.spanWelcome {
    color: green;
}